@import 'reset';
@import 'type-helper';
@import 'font-loading';

// COLOR VARS (SOMEWHAT DEPRECATED... USE WITH CAUTION)

$black  : #393E41;
$white  : #FDFFFC;
$blue   : #044389;
$green  : #104F55;
$yellow : #EDAE49;
$gray   : #6D6E70;

// LINK COLOR VARS
$linkBlue   : #008BF8;
$linkGreen  : #8FC93A;
$linkRed    : #E53D00;
$linkTeal   : #44BBA4;

// FONT VARS
$family: "museo-sans-rounded", helvetica, trebuchet, arial, sans-serif;

// GLOBAL DEFAULTS
a {
  text-decoration: none;
  border: 0;
  &:link {
    color: $linkBlue;
  }
  &:visited {
    color: $linkGreen;
  }
  &:hover {
    color: $linkTeal;
  }
  &:active {
    color: $linkRed;
  }
}

body {
  display: flex;
  color: $gray;
  background-color: $white;
  font-family: $family;
  font-weight: 300;
  @include size-only(18);
  background-color: #FFF;
}

p {
  @include text-spacing (18, 26);
  margin-bottom: 25px;
}

h1 {
  color: $black;
  font-family: $family;
  @include size-only(36);
  //margin-top: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 100;
}

h2 {
  color: $black;
  font-family: $family;
  @include size-only(24);
  margin-bottom: 15px;
  font-weight: 100;
}

h3 {
  color: $black;
  font-family: $family;
  @include size-only(18);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 100;
}

// SCAFFOLDING
#launch {
  .fixedWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    > h1 {
      display: none;
    }
    nav {
      display: flex;
      .special { display: none; }
      a:link {
        color: $blue;
      }
      a:visited {
        color: $blue;
      }
      a:hover {
        color: $black;
      }
      a:active {
        color: #FFF;
        background-color: $linkGreen;
      }
    }
    .status {
      display: block;
      margin: 15px;
      opacity: 0.55;
      padding: 15px 20px;
      color: red;
      &:before {
        content: "Status: ";
        color: $black;
      }
    }
    .social {
      width: 220px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 30px;
      a > span { display: none; }
      img {
        width: 20px;
        height: 20px;
        padding: 10px;
        background-color: #FFF;
        border-radius: 40px;
        opacity: 0.5;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

#content {
  img {
    display: block;
    max-width: 800px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    height: 100%;
    ul {
      list-style-type: circle;
    }
    li {
      margin-left: 5%;
      margin-bottom: 10px;
    }
  }
  article.blogTeaser {
    height: auto;
    border-bottom: 10px solid #FAFAFA;
    &:nth-child(1) {
      border-top: 10px solid #FAFAFA;
    }
    .bottomLinks {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  article.blogPost {
    height: auto;
  }
  .paginator {
    padding: 20px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
    }
  }
  .tileWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .tile {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      h2 {
        @include size-only(18);
        text-transform: uppercase;
        font-weight: 700;
      }
      span.terminal {
        display: block;
        font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
        background-color: $gray;
        color: $white;
        padding: 7px;
        margin-bottom: 10px;
      }
      span.terminal-blank {
        display: block;
        height: 18px;
        padding: 7px;
        margin-bottom: 10px;
      }
    }
  }
  a.c2a {
    display: block;
    min-width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 80px;
    @include size-only(18);
    font-weight: 700;
    &:link {
      background: rgb(154,229,230);
      color: $blue;
      text-transform: uppercase;
    }
    &:visited {
      color: $blue;
    }
    &:hover {
      background: rgb(17,157,164);
      color: $white;
    }
    &:active {
      background-color: $blue;
      transform: translateY(2px);
    }
  }
}

#contribute {
  p ~ a {
    margin-bottom: 20px !important;
  }
}

// BREAKPOINTS
@import 'breakpoints';
