/* GLOBALS */
a {
  text-decoration: none;
  border: 0; }
  a:link {
    color: #044389; }
  a:visited {
    color: #420039; }
  a:active {
    color: #ED1C24; }
  a:hover {
    color: #EDAE49; }

html {
  font-size: 16px;
}

body {
  color: #6D6E70;
  background-color: #F0EDEE;
  font-family: "omnes-pro", trebuchet, arial, sans-serif;
  font-size: 1.125em;
  margin-bottom: 2.50937502509376em; }

p, article {
  line-height: 1.44444em !important;
  margin-bottom: 25px; }

h1 {
  color: #0A090C;
  font-family: "cooper-black-std", georgia, serif;
  font-size: 3em;
  margin-top: 25px;
  margin-bottom: 30px;
  text-transform: uppercase; }

h2 {
  color: #0A090C;
  font-family: "cooper-black-std", georgia, serif;
  font-size: 2.25em;
  margin-bottom: 15px; }

h3 {
  color: #0A090C;
  font-family: "omnes-pro", trebuchet, arial, sans-serif;
  font-size: 1.5em !important;
  margin-bottom: 10px;
  text-transform: uppercase; }

/* HOMEPAGE */
.intro-header h1 {
  display: none;
}

/* NAVBAR */
.navbar-brand {
  visibility: hidden;
}
.navbar-brand:after {
  visibility: visible;
  content: "";
  display: block;
  width: 370px;
  height: 50px;
  background-color: pink;
}
