article, nav {
  opacity: 1;
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.wf-loading article, .wf-loading nav {
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
