// COLOR VARS (SOMEWHAT DEPRECATED... USE WITH CAUTION)
$black  : #393E41;
$white  : #FDFFFC;
$blue   : #044389;
$green  : #104F55;
$yellow : #EDAE49;
$gray   : #6D6E70;

// LINK COLOR VARS
$linkBlue   : #008BF8;
$linkGreen  : #8FC93A;
$linkRed    : #E53D00;
$linkTeal   : #44BBA4;

// FONT VARS
$family: "museo-sans-rounded", helvetica, trebuchet, arial, sans-serif;

